body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 0px; */
}
* {
  margin: 0px;
}

.button-danger {
  background: none;
  font-weight: bolder;
  font-size: 15px;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.button-danger:hover {
  color: red;
}

.button-danger-second {
  background: none;
  font-weight: bolder;
  font-size: 15px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 75%;
}
.button-danger-second:hover {
  color: blue;
}
.Slider {
  overflow-y: scroll;
  height: 300px;
  border: 1px black solid;
  width: 300px;
  outline: none;
  border-top: none;
  padding: 5px;
}
.SliderTop {
  border: 1px solid black;
  padding: 5px;
  background-color: lightgrey;
  width: 300px;
  border-bottom: none;
}
.Placeholder {
  font-weight: bold;
  opacity: 0.3;
}

.Slider::first-letter {
  text-transform: capitalize;
}

body, head, html {
  overflow: none;
}
.info {
	position: absolute;
	top: 10px;
	/* width: 100%; */
  height: fit-content;
	/* text-align: center; */
	z-index: 100;
	display:block;
  /* margin-top: Adjustable; */
  color: white;
  font-size: medium;
  font-weight: bolder;
  /* background-color: grey; */
}

.info-special {
  position: absolute;
	top: 100px;
  /* margin-left: 50%; */
  height: fit-content;
	z-index: 200;
	display:block;
  color: white;
  font-size: medium;
  font-weight: bolder;
}

.left_top {
  margin-left: 110px;
  margin-top: -20px;
}

label {
  margin-top: -20px;
}

#root {
  margin: 0px;
  width: 0px;
  height: 0px;
  display: none;
}

.info-special-div{
  position: absolute;
	top: 100px;
  height: fit-content;
	z-index: 200;
	display:block;
  color: white;
  font-size: medium;
  font-weight: bolder;
  margin-top: -60px;
  padding: 10px;
}

.hidden {
 opacity: 0;
}

.controlHref {
margin-left: 10px;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 5s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 100;}
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 5s;
}

@keyframes fadeOut {
  from {opacity: 100;}
  to {opacity: 0;}
}

.container {
  border: 1px solid grey;
  padding: 10px;
  margin-top: 200px;
}

.container-childrenBox {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid white;
  margin-top: 1px;
  text-align: center;
  padding: 2px;
}
.containerLabel {
  text-align: center;
  font-size: 10px;
  color: black;

}

.darkTheme {
  color : black;
  font-size: 20px;
  margin-top: 10px;
  /* padding : 10px; */
  /* margin-left: -10px; */
  display: inline;
}

.darkTheme:hover::after {
   content: "preview";
   font-size: 10px;
}
